.bnt-pink {
    padding: 0.8125rem 1.25rem;
    height: 3rem;
    border-radius: 0.5rem;
    width: 100%;
    border: 2px solid var(--primary100);
    background-color: var(--primary100);
    color: #ffffff;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
  
    &:hover {
      color: var(--gray400);
      border-color: var(--primary200);
      background-color: var(--primary200);
    }
  }
  
  .btn-trash {
    padding: 5px 8px;
    border: 1px solid transparent;
    background-color: var(--gray300);
    border-radius: 0.125rem;
    color: var(--gray100);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    max-width: max-content;
  
    &:hover {
      color: #ffffff;
      background-color: var(--gray100);
    }
  }