:root {
    --gray100: rgb(33, 37, 41);
    --gray200: rgb(134, 142, 150);
    --gray300: rgb(233, 236, 239);
    --gray400: rgb(248, 249, 250);
    --primary100: rgb(253, 53, 126);
    --primary200: rgb(224, 100, 204);
    --secundary100: rgb(3, 184, 152);
  
    --font-primary: "Nunito", sans-serif;
  }